@font-face {
    font-family: "Font";
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}

@font-face {
    font-family: "Font2";
    src: url(../fonts/MyriadPro-Light.otf);
}
body{
    margin: 0%;
   
}

.eliminar_seccion{
    display: flex;
    margin-top: -1vh;
    width: 100vw;
    height: 100vh;
    
}
.title_box{
    width: 100%;
    height: 10vh;
    border-bottom: 0.2ch solid  #ff6f2c;

}
.title{
    font-family: "Font";
    font-size: 2vw;
    margin-top: 3.5vh;
    margin-left: 6vw;
}
.back{
    width: 3vw;
    margin-top: -5vh;
    margin-left:1vw;
    position: absolute;
}
.danger_box{
    display: flex;
    width: 90vw;
    height: 16vh;
    margin-top: 13vh;
    margin-left: -95vw;
    background-color: #FFF2DF;
}
.danger{
    width: 3vw;
    height: 4vh;
    margin-left: 1vw;
    margin-top: 1vh;
    
}
.danger_title{
    font-family: "Font";
    font-size: 1.9vw;
    margin-top: 2vh;
    color: #666161  ;
    margin-left: 1vw;
    width: 20vw;
    height: 4vh;
    font-weight: 500;
    word-spacing: 0.4vw;
}

.danger_text{
    position: fixed;
    font-family: "Font";
    font-weight: 500;

    font-size: 1.7vw;
    margin: 4vw 05vw 0vw -23vw ;
}
.box1{
    border: 0.1ch solid #ff6f2c ;
    display: flex;
    width: 90vw;
    height: 9vh;
    margin-top: 33vh;
    margin-left: -90vw;
}
.box1_title{
    font-family: "Font";
    font-size: 1.5vw;
    margin: 0.5vw 0px 0px 2vw;
}
.box1_text{
    font-family: "Font";
    font-size: 1vw;
    color: #666161;
    margin: 3vw 0px 0px -8.5vw;
}
.basura{
    width: 2vw;
    height: 2vw;
    margin: 1.5vw 0vw 0vw 70vw;
}
.porcentaje{
    margin: 1.5vw 0vw 0vw -6vw;
    position: relative;
}
.porcentaje span{
    font-size: 0.7vw;
    font-family: "Font2";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin-top: 0.6vw;
    margin-left: 0.3vw;
}
circle{
    fill: none;
    stroke: var(--color);
    stroke-width: 0.3vw;
    stroke-dasharray: var(--porcentaje) 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
    stroke-linecap: round;
}
.box2{
    border: 0.1ch solid #ff6f2c ;
    display: flex;
    width: 90vw;
    height: 9vh;
    margin-top: 43vh;
    margin-left: -90vw;
}
.box2_title{
    font-family: "Font";
    font-size: 1.5vw;
    margin: 0.5vw 0px 0px 2vw;
}
.box2_text{
    font-family: "Font";
    font-size: 1vw;
    color: #666161;
    margin: 3vw 0px 0px -8.5vw;
}
.basura1{
    width: 2vw;
    height: 2vw;
    margin: 1.5vw 0vw 0vw 72vw;
   
} 
.box3{
    border: 0.1ch solid #ff6f2c ;
    display: flex;
    width: 90vw;
    height: 9vh;
    margin-top: 52.9vh;
    margin-left: -90vw;
}
.box3_title{
    font-family: "Font";
    font-size: 1.5vw;
    position: fixed;
    margin: 0.5vw 0px 0px 2vw;
}
.box3_text{
    font-family: "Font";
    font-size: 1vw;
    color: #666161;
    margin: 3vw 0px 0px 1.5vw;
    position: fixed;
}
.basura2{
    width: 2vw;
    height: 2vw;
    margin: 1.5vw 0vw 0vw 85vw;
} 

.box4{
    border: 0.1ch solid #ff6f2c ;
    display: flex;
    width: 90vw;
    height: 9vh;
    margin-top: 10vh;
    margin-left: -83.1vw;
}
.box4_title{
    font-family: "Font";
    font-size: 1.5vw;
    margin: 0.5vw 0px 0px 2vw;
}
.box4_text{
    font-family: "Font";
    font-size: 1vw;
    color: #666161;
    margin: 3vw 0px 0px -11.5vw;
}
.basura3{
    width: 2vw;
    height: 2vw;
    margin: 1.5vw 0vw 0vw 70vw;
} 


.box5{
    border: 0.1ch solid #ff6f2c ;
    display: flex;
    width: 90vw;
    height: 9vh;
    margin-top: 10vh;
    margin-left: -83.8vw;
}
.box5_title{
    font-family: "Font";
    font-size: 1.5vw;
    margin: 0.5vw 0px 0px 2vw;
}
.box5_text{
    font-family: "Font";
    font-size: 1vw;
    color: #666161;
    margin: 3vw 0px 0px -14.5vw;
    position: fixed;
}
.basura4{
    width: 2vw;
    height: 2vw;
    margin: 1.5vw 0vw 0vw 68.8vw;
} 
.box6{
    border: 0.1ch solid #ff6f2c ;
    display: flex;
    width: 90vw;
    height: 9vh;
    margin-top: 10vh;
    margin-left: -0.1vw;
    position: fixed;
}
.box6_title{
    font-family: "Font";
    font-size: 1.5vw;
    margin: 0.5vw 0px 0px 2vw;
}
.box6_text{
    font-family: "Font";
    font-size: 1vw;
    color: #666161;
    margin: 3vw 0px 0px -11.5vw;
    position: fixed;
}
.basura5{
    width: 2vw;
    height: 2vw;
    margin: 1.5vw 0vw 0vw 72vw;
} 