@font-face {
    font-family: "Font" ;
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: "Font2";
    src: url(../fonts/MyriadPro-Light.otf);
}
.back{
    position: fixed;
    margin-top: 1vw;
    margin-left: -49vw;
    width: 6vw;
}
.principal_box{
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.principal_box_title{
    display: flex;
    height: 10vh;    
    background-color: #ff6f2c;
    width: 85%;
    justify-content: center;
    align-items: center;
}

.principal_box_title h1{
    color: white;
    font-family: "Font2";
    font-size: 60px;
}
.principal_box_title2{
    display: flex;
    color: #ff6f2c;
    font-family: "Font2";
    font-size: 35px;
    height: auto;
    width: auto;
}

.boxes{
   
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.box_1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    padding: 80px;
    border: 1px solid #ff6f2c;
    
}
.box_1_title{
    font-family: "Font";
    font-size: 2vw;
}
.box_1_text{
    font-family: "Font";
    font-size: 1.5vw;
    color: #ff6f2c;
}
.box_1_text2{
    font-family: "Font";
    font-size: 1.5vw;
    color: #ff6f2c;
}
.box_1_text3{
    font-family: "Font";
    font-size: 1.5vw;
    color: #ff6f2c;
}
.box_1_text4{
    font-family: "Font";
    font-size: 1.5vw;
    color: #ff6f2c;
}
.box_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 30px;
    border: 1px solid #ff6f2c;
}
.box_2_title{
    font-family: "Font";
    font-size: 2vw;
}
.box_2_text{
    font-family: "Font";
    font-size: 1.5vw;
    color: #ff6f2c;
}
.box_2_text2{
    font-family: "Font";
    font-size: 1.5vw;
    color: #ff6f2c;
}
.box_2_text3{
    font-family: "Font";
    font-size: 1.5vw;
    color: #ff6f2c;
}
.box_2_text4{
    font-family: "Font";
    font-size: 1.5vw;
    color: #ff6f2c;
}
.box_3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 30px;
    border: 1px solid #ff6f2c;
}
.box_3_title{
    font-family: "Font";
    font-size: 2vw;
}
.box_3_text{
    font-family: "Font";
    font-size: 1.5vw;
}
.box_3_text2{
    font-family: "Font";
    font-size: 1.5vw;
}

.box_3_text3{
    text-align: center;
    width: 19vw;
    font-family: "Font";
    font-size: 1.5vw;
    height: 3vw;
    background-color:#ffdbc1;
    border: 0.1ch solid #ff6f2c;
    line-height: 3vw;
}
.box_3_text4{
    text-align: center;
    font-family: "Font";
    font-size: 1.5vw;
    width: 19vw;
    height: 3vw;
    line-height: 3vw;
    border: 0.1ch solid #ff6f2c;
}
.last_box{
    background-color:#ffdbc1;
    display: flex;
    flex-direction: column ;
    text-align: center;
    width: 85%;
    height: 6vw;
    margin-top: 6vw;
    margin-left: 7.6vw;
    border: 0.1ch solid #ff6f2c;

}

.last_box_title{
    font-family: "Font";
    font-size: 2vw;
    color: #ff6f2c;
    line-height: 3vw;
}
.last_box_text{
    font-family: "Font";
    font-size: 1.5vw;
}