html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    width: 100%; 
}
@font-face {
    font-family: Font ;
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: Font2;
    src: url(../fonts/MyriadPro-Light.otf);
}
@keyframes back {
    0%{
        background: url(../images/background.png) center center;
        background-repeat: no-repeat;
        background-size: cover; 
        background-color: black;
        height: 100%; 
    }
    95%{
        background: url(../images/background.png) center center;
        background-repeat: no-repeat;
        background-size: cover; 
        background-color: black;
        height: 100%;
    }
    100%{background-color: white;}
}
@keyframes welcome {
    50%{opacity: 100%;}
    99.9%{opacity: 0%;}
    100%{opacity: 0%;}
}
@keyframes logo {
    0%{opacity: 0%;}
    20%{opacity: 0%;}
    79%{opacity: 0%;}
    80%{opacity: 100%;}
    99%{opacity: 100%;}
    100%{opacity: 0%;}
}
@keyframes header {
    0%{opacity: 0%;}
    99%{opacity: 0%;}
    100%{opacity: 100%;}
}
body {
    background-color: white;    
    animation: back 5s ease-in-out;
}
.logo{
    height: 15%;
    width: 10%;
    margin-top: 20vw;
    margin-left: 45vw;
    animation-delay: 3s;
    animation: logo 4.5s ease-in-out forwards;
}
.seccion_login{
    background-color: rgb(255, 255, 255);
    border-radius: 3vw;
    width: 45vw;
    height: 30vw;
    animation: welcome 4s ease-in-out forwards;
    border: 1px solid #707070;
    margin-left: 27vw;
    margin-top: -18vw;
}
#logo{
    width: 5vw;
    height: 6vw;
    opacity: 1;
    border-color: rgb(255, 5, 5);
    margin-left: 20vw;
    margin-top: 1vw;
}
#text_logo{
    font-family: "Font";
    font-size: 2vw;
    text-align: center;
    line-height: 3vw;
    margin-top: 0.5vw;
}
.img_pedro{
    width: 20%;
    height: 20%;
    margin-left: 18vw;
    margin-top: 0.5vw;
}
#text2_logo{
    font-family: "Font";
    font-size: 2vw;
    text-align: center;
    line-height: 3vw;
    margin-top: 1vw;
}
#text3_logo{
    font-family: "Font2";
    font-size: 1vw;
    text-align: center;
    line-height: 3vw;
    padding: 0%;
    margin-top: -2%;
}
.container{
    width: 100vw;
    height: 2vw;
    border-bottom: 4px solid #707070;
    margin-left: 0vw;
    margin-top: -39vw;
}
.img_add{
    margin-top: -0.2vw;
    margin-left: 6vw;
}
.add_text{
    margin-left: 8vw;
    margin-top: -1.75vw;
}
.img_arrow{
    margin-left: 14vw;
    margin-top: -0.4vw;
    position: absolute;
}
.arrow_text{
    margin-left: 16vw;
    margin-top: -1vw;
}
.img_trash{
    margin-left: 23vw;
    margin-top: -1.5vw;
    position: absolute;
}
.trash_text{
    margin-left: 25vw;
    margin-top: -1vw;
    position: absolute;
}
.img_logo{
    width: 2vw;
    margin-left: 44vw;
    margin-top: -1.4vw;
    position: absolute;
}
.img_bug{
    margin-left: 66vw;
    margin-top: -1.5vw;
    position: absolute;
}
.bug_text{
    margin-left: 68.5vw;
    margin-top: -0.9vw;
    position: absolute;
}
.img_help{
    margin-left: 75vw;
    margin-top: -1.4vw;
    position: absolute;
}
.help_text{
    margin-left: 77.5vw;
    margin-top: -0.9vw;
    position: absolute;
}
.settings{
    margin-left: 93vw;
    margin-top: -1vw;
    position: absolute;
}
.bell{
    margin-left: 95vw;
    margin-top: -1vw;
    position: absolute;
}
.Pedro{
    margin-left: 97vw;
    margin-top: -1.4vw;
    position: absolute;
    width: 1.8vw;
}
